[submodule "BNFT"]
	path = BNFT
	url = https://github.com/phook/BNFT
[submodule "public/ace-builds"]
	path = public/ace
	url = https://github.com/ajaxorg/ace-builds.git
[submodule "uil"]
	path = uil
	url = https://github.com/phook/uil
