
@font-face {
  font-family: 'Inconsolata';
  src: url('Inconsolata.eot?#iefix') format('embedded-opentype'),  url('Inconsolata.otf')  format('opentype'),
	     url('Inconsolata.woff') format('woff'), url('Inconsolata.ttf')  format('truetype'), url('Inconsolata.svg#Inconsolata') format('svg');
  font-weight: normal;
  font-style: normal;
}
